*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}


.container{
    background: url("./assets/background.jpg");
    background-size: cover;
    width: 100vw;
    min-height: 100vh;    
    height: 100%;
    overflow:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main{
    background: #f4f4f4cb;
    border-radius: 20px;
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap:24px;
    
}

.form{
    display: flex;
    flex-direction: column;    
    gap:24px;
}

label{
    display: flex;
    flex-direction: column;
}

select{
    cursor: pointer;
}

input, select{
    outline: none;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    margin-top: 5px;
}

.resultCurrency{
    border: 1px solid #772FD3;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initialCurrency,.finalCurrency{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

img{
    width: 44px;
}

.material-symbols-outlined{    
    color: #772FD3;
    transform: rotateX(180deg);
    font-size: 50px !important;
    margin: 15px 0;
}

.currencyPrice{
    font-weight: 700;
    font-size: 20px;
    color: #555555;
}

@media screen and (min-width:920px){
    

    main{
        flex-direction: row;
        gap: 48px;
        width: 100%;
        max-width: calc(30px + 375px + 375px + 24px);
    }

    section{
        width: 100%;
        max-width: 375px;
    }

    .resultCurrency{
        justify-content: center;
    }
}